<%= error_messages_for 'curnit' %>

<p><label for="curnit_name">Name</label><br/>
<%= text_field 'curnit', 'name', :size => 80  %></p>

<p><label for="curnit_url">Url</label><br/>
<%= text_field 'curnit', 'url', :size => 80 %></p>

<p><label for="curnit_always_update">Always update from url when generating jnlp?</label><br/>
<%= check_box 'curnit', 'always_update'  %></p>