<%= error_messages_for 'curnit' %>

<p><label for="curnit_name">Name</label><br/>
<%= text_field 'curnit', 'name'  %></p>

<p><label for="curnit_url">Url</label><br/>
<%= text_field 'curnit', 'url', :size => 60    %></p>
