<%= error_messages_for 'curnit' %>

<!--[form:curnit]-->
<p><label for="curnit_name">Name</label><br/>
<%= text_field 'curnit', 'name'  %></p>

<p><label for="curnit_url">Url</label><br/>
<%= text_field 'curnit', 'url'  %></p>
<!--[eoform:curnit]-->

