<%= link_to 'List', :action => 'list' %> | 
<%= link_to 'Show', :action => 'show', :id => @curnit %>

<%= start_form_tag :action => 'edit', :id => @curnit %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>
