<h1>New curnit</h1>

<%= start_form_tag :action => 'create', :pid => params[:pid] %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
