<% for column in Curnit.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @curnit.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @curnit %> |
<%= link_to 'Back', :action => 'list' %>
