<%= link_to 'List', :action => 'list'  %> | 
<%= link_to 'Edit', :action => 'edit' %>

<table cellpadding="3" cellspacing="4">
  <% for column in Curnit.columns %>
    <tr>
      <td><%= h column.human_name %></td>
      <td><%= h @curnit.send(column.name) %></td>
    </tr>
  <% end %>
</table>

<%= display_xml(@curnit) %>