<div style="background-color: white; padding: 1px 2px 2px 2px; border: 1px dotted gray; margin: 5px 5px; 10px 10px; font: 9px sans-serif;">
  Session Bundle id: <%= sock.bundle.id %>, Session Bundle date: <%= sock.bundle.sail_session_start_time %>, Sock id: <%= sock.id %>, Sock time: <%= TimeTracker.seconds_to_s(sock.ms_offset/1000) %>, 
  <div style="background-color: white; padding: 10px; border: 1px dotted gray; margin: 5px 5px; 10px 10px; font: 11px sans-serif;">
  <%= sock.value %>
</div>
</div>
