<%= link_to 'List', :action => 'list' %> | 
<%= link_to 'Show', :action => 'show', :id => @workgroup %>

<% form_for :workgroup, @workgroup, :url => { :action => "update" }, :html => { :method => :put } do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit "Save" %>
<% end %>
