<%= link_to 'New Workgroup', :action => 'new', :pid => params[:pid] %>

<table cellpadding="3" cellspacing="3">
  <tr>
    <td><b>Id</b></td>
    <td><b>Name</b></td>
  </tr>
  <% for workgroup in @workgroups %>
    <tr>
      <td><%= workgroup.id.to_s %></td>
      <td><%= workgroup.name %></td>
      <td>
        <%= link_to 'Show', :action => 'show', :id => workgroup %> | 
        <%= link_to 'Edit', :action => 'edit', :id => workgroup %>  
      </td>
    </tr>
  <% end %>
</table>
