<h1>User Registration</h1>

<%= error_messages_for 'user' %>

<%= error_messages_for :user %>
<% form_for :user , :url => { :action => :register} do |f| -%>
    <%= render :partial => 'form' %>
    <%= submit_tag "Register new user" %>
<% end -%>


<p><%= link_to "Back", :controller => 'page' %></p>


