<h1>Listing blobs</h1>

<table>
  <tr>
  </tr>

<% for blob in @blobs %>
  <tr>
    <td><%= link_to 'Show', blob %></td>
    <td><%= link_to 'Edit', edit_blob_path(blob) %></td>
    <td><%= link_to 'Destroy', blob, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blob', new_blob_path %>
