<h2>Editing user: <%= @user.name %></h2>

<%= error_messages_for :user %>

<% form_for :user , :url => user_path(@user), :html => { :method => :put } do |f| -%>
    <%= render :partial => 'form', :object => f %>
    <%= submit_tag "Save changes" %>
<% end -%>
