<h1>User info</h1>
<p>
  First name: <%= @user.first_name %><br />
  Last  name: <%= @user.last_name %><br />
  Username: <%= @user.login %><br />
  Email: <%= @user.email %><br />
  Activated?: <%= @user.active? %><br />
</p>
  