<h1>New bundle_content</h1>

<%= error_messages_for :bundle_content %>

<% form_for(@bundle_content) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', bundle_contents_path %>
