<p>
  <span style="font-style: bold">Notification Listeners: </span><br/>
  <span style="padding-left: 30px">
  <% NotificationListener.find(:all, :order => :name).each do |nl|  %>
    <input type="checkbox" id="<%= @notifier.class.name.underscore %>[notification_listener_ids][]" name="<%= @notifier.class.name.underscore %>[notification_listener_ids][]" value="<%= nl.id %>"
    <% if @notifier.notification_listeners.include?(nl) %> checked="checked" <% end %> />
    <%= nl.name %> 
    <br/>
  <% end %>
  </span>
</p>