<h2>Sail Data Service</h2>
<p>The SAIL Data Service implements services which allow portals to deploy SAIL-based Java learning environments. See the <a href = "http://www.telscenter.org/confluence/display/SAIL/SAIL+Data+Services">Sail Data Services</a> wiki page for more information.
</p>

<%= link_to 'Portals', :controller => 'portal', :action => 'list' %>
