<%= error_messages_for 'portal' %>

<!--[form:portal]-->
<p><label for="portal_name">Name</label><br/>
<%= text_field 'portal', 'name'  %></p>

<p><label for="portal_auth_username">Authorized username</label><br/>
<%= text_field 'portal', 'auth_username'  %></p>

<p><label for="portal_auth_username">Authorized password</label><br/>
<%= text_field 'portal', 'auth_hash'  %></p>

<!--[eoform:portal]-->

