<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <% pagetitle = "Listing Portals" %>
    <head>
        <title><%= pagetitle %></title>
    </head>
<h2><%= pagetitle %></h2>

<%= link_to 'New portal', :action => 'create' %>

<p style="color: green"><%= flash[:notice] %></p>
<table width="90%" cellpadding="4" cellspacing="0">
  <tr>
    <% 0..3.times do |i| %>
      <td><b><%= Portal.columns[i].human_name %></b></td>
    <% end %>
  </tr>
  <% for portal in @portals %>
    <tr>
      <% 0..3.times do |i| %>
        <td><%=h portal.send(Portal.columns[i].name) %></td>
      <% end %>
        <td>
          <%= link_to 'Show', :action => 'show', :id => portal %> | 
          <%= link_to 'Edit', :action => 'edit', :id => portal %> | 
          <%= link_to 'Manage', :controller => 'offering', :action => 'list', :pid => portal.id %> 
        </td>
    </tr>
  <% end %>
</table>
