<%= link_to 'List', notification_listeners_path %> | 
<%= link_to 'Show', @notification_listener %>

<% form_for(@notification_listener) do |f| %>
  <p>
    <%= render :partial => 'form', :object => f %>
    <%= f.submit "Save" %>
  </p>
<% end %>