<%= error_messages_for 'user' %>

<p><label for="user_first_name">First Name</label><br/>
<%= text_field 'user', 'first_name'  %></p>

<p><label for="user_last_name">Last Name</label><br/>
<%= text_field 'user', 'last_name'  %></p>

<p><label for="user_portal_token">Portal Token</label><br/>
<%= text_field 'user', 'portal_token'  %></p>
