<h3>Logged out</h3>
<div class="memo">

    <p>
      You are now logged out of the system.
      <%= link_to "homepage", :controller => "/" %>
    </p>
      
    <p><%= link_to "Back", :controller => 'page' %></p>
    
      
</div>
