<%= error_messages_for 'offering_attribute' %>

<p><label for="name">Name:</label><br/>
<%= text_field 'offering_attribute', 'name', :size => 60  %></p>

<p><label for="value">Value:</label><br/>
<%= text_field 'offering_attribute', 'value', :size => 60  %></p>