<%= link_to 'List', :action => 'list' %> | 
<%= link_to 'Show/Run', :action => 'show', :id => @offering %>

<% form_for :offering, @offering, :url => { :action => "edit" } do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit "Save" %>
<% end %>
