<%= error_messages_for 'sail_user' %>

<p><label for="user_first_name">First Name</label><br/>
<%= text_field 'sail_user', 'first_name'  %></p>

<p><label for="user_last_name">Last Name</label><br/>
<%= text_field 'sail_user', 'last_name'  %></p>
