<%= error_messages_for :notification_type %>

<p><label for="notification_type_name">Name</label><br/>
<%= form.text_field :name, :size => 72 %></p>

<p><label for="notification_type_description">Description</label><br/>
<%= form.text_field :description, :size => 72 %></p>