<%= error_messages_for 'jnlp' %>

<!--[form:jnlp]-->
<p><label for="jnlp_name">Name</label><br/>
<%= text_field 'jnlp', 'name'  %></p>

<p><label for="jnlp_url">Url</label><br/>
<%= text_field 'jnlp', 'url'  %></p>
<!--[eoform:jnlp]-->

