<%= link_to 'List', :action => 'list' %> | 
<%= link_to 'Show', :action => 'show', :id => @jnlp %>

<% form_for :jnlp, @jnlp, :url => { :action => "edit" } do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit "Save" %>
<% end %>
