<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <% page_title = "SDS: #{@controller.controller_name.capitalize}" %>
    <head>
        <title><%= page_title %></title>
        <%= stylesheet_link_tag "sds" %>
    </head>
    <body>
      <div id="banner">
        <a href="http://www.telscenter.org/confluence/display/SAIL">
          <%= image_tag("sail_orangecirc_64.gif") %></a>
          SAIL Data Service
      </div>
      <div id="titlebar">
        <div id="titlebar_left">
          <h4>
            <% if p = params[:pid] %>
              Portal <%= p.to_s %>: <%= @portal.name %>
            <% end %>
            <%= page_title %><%= yield :tip %>
          </h4>
        </div>
        <div id="titlebar_right">
          <% if logged_in? %>
            <span class="salutation">Welcome <%= current_user.roles.first.title.capitalize %>: <%= current_user.name %></span>
          <% else %>
            <span class="salutation">Welcome anonymous user: please login</span>
          <% end %>
        </div>
      </div>
      <div id="menubar">
        <div id="menubar_left">
          <span class="active">        
            <%= link_to 'Home', :controller => 'home', :action => 'index' %> | 
            <%= link_to 'Portals', :controller => 'portal', :action => 'list' %> | 
          </span>
          <% if params[:pid] %>
            <span class="active">        
            <%= link_to 'Curnits', :controller => 'curnit', :action => 'list' %> | 
            <%= link_to 'Jnlps', :controller => 'jnlp', :action => 'list' %> | 
            <%= link_to 'SailUsers', :controller => 'sail_user', :action => 'list' %> | 
            <%= link_to 'Offerings', :controller => 'offering', :action => 'list' %> | 
            <%= link_to 'Workgroups', :controller => 'workgroup', :action => 'list' %>
            </span>
          <% else %>
            <span class="inactive">Curnits | Jnlps | SailUsers | Offerings | Workgroups</span>
          <% end %>
        </div>
        <div id="menubar_right">        
          <% if logged_in? %>
            <%= link_to 'Logout', logout_url %>
          <% else %>
            <%= link_to 'Login', login_url %>
          <% end %>
        </div>
      </div>

      <div id="content">
        <%= yield %>
      </div>
    </body>
</html>
